<div id="modal-window-eval<%= "#{params[:project_id]}" %>" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-heading">Evaluations</h2>
        <button class="signup-btn" data-dismiss="modal" data-target="modal-window-eval">x</button>
      </div>
      <div class="modal-body">
        <%= form_tag evaluations_path(method: :post) do |f| %>
          <% Ingroup.where(group: Ingroup.find_by(user_id: current_user.id).group_id).each do |mem| %>
            <%- if mem.user_id != current_user.id %>
              <h3>Evaluation for <%= "#{mem.user.Fname} #{mem.user.Lname}" %></h3>
              <div class="field">
                <%= hidden_field_tag :evaluation_project_id, "", :name=> "evaluation[][project_id]", :value => Project.find(params[:project_id]).id %>
                <%= hidden_field_tag :evaluation_user_id, "", :name=> "evaluation[][user_id]", :value => mem.user_id %>
                <%= hidden_field_tag :evaluation_course_id, "", :name=> "evaluation[][course_id]", :value => Project.find(params[:project_id]).course_id %>
              </div>
              <div class="field">
                <label>Score:</label><br />
                0<%= range_field_tag :evaluation_score, "", :name=> "evaluation[][score]", :min => "0", :max => "10" %>10
              </div>
              <div class="field">
                <label>Comment:</label><br />
                <%= text_area_tag :evaluation_comment, "", :name=> "evaluation[][comment]" %>
              </div>
            <% end %>
          <% end %>
          <div class="actions">
            <%= submit_tag "Submit" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


