<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @evaluation.project_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @evaluation.user_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @evaluation.score %>
</p>

<p>
  <strong>Name:</strong>
  <%= @evaluation.name %>
</p>

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
