<body>
  <h1>Group Management</h1>
  <div class="students-container">
    <%- if Ingroup.where(group_id: @current_group).count != 0 %>
      <table id="example" class="table table-striped table-bordered" style="width: 1000px;">
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Average Score</th>
          <th>Action</th>
        </thead>
        <tbody>
          <% Ingroup.where(group_id: @current_group).each do |user| %>
            <tr>
              <td><%=user.user.Fname%></td>
              <td><%=user.user.Lname%></td>
              <td><%=user.user.email%></td>
              <td>N/A</td>
              <td><%= link_to 'Select', uman_path(:course_id => user.group.course_id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
            /<%= link_to "Delete", user, method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h3><%= "No group students assigned to group." %></h3>
    <% end %>
  </div>
  <div class = "add-student">
    <%= link_to 'Add User', new_ingroup_path(:group_id => @current_group, :course_id => Group.find(@current_group).course_id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
  </div>
</body>
