<h1>Pending Evaluations</h1>
<div class="table_container">
  <%- if Incomplete.where(user_id: current_user.id).count != 0 %>
    <table class="table table-striped table-bordered" style="width: 800px;">
      <thead>
        <th>Subject</th>
        <th>Number</th>
        <th>Project Name</th>
        <th>Action</th>
      </thead>
      <tbody>
      <%- Incomplete.where(user_id: current_user.id).each do |i| %>
        <tr>
          <td><%= i.project.course.subject %></td>
          <td><%= i.project.course.number %></td>
          <td><%= i.project.pname %></td>
          <td><%= link_to "Select", new_evaluation_path(:project_id => i.project), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window-eval'} %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% else %>
      <h3><%= 'No pending evaluations.' %></h3>
    <% end %>
</div>

<h1>Sections</h1>
<div class="table_container">
  <%- if Incourse.where(user_id: current_user.id).count != 0 %>
    <table class="table table-striped table-bordered" style="width: 800px;">
      <thead>
        <th>Section</th>
        <th>Subject</th>
        <th>Number</th>
        <th>Course Name</th>
        <th>Mean Score</th>
        <th>Action</th>
      </thead>
      <tbody>
      <% Incourse.where(user_id: current_user.id).each do |c| %>
        <tr>
          <td><%= c.course.course_id %></td>
          <td><%= c.course.subject %></td>
          <td><%= c.course.number %></td>
          <td><%= c.course.name %></td>
          <td></td>
          <td><%= link_to "Report", urep_path(:course_id => c.course_id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window-ureport'} %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% else %>
      <h3><%= 'No current enrollments.' %></h3>
    <% end %>
</div>

