<div id="modal-window-incourse" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-heading">Add Users</h2>
        <button class="signup-btn" data-dismiss="modal" data-target="modal-window-incourse">x</button>
      </div>
      <%= form_with(model: @incourse, local: true) do |form| %>
        <% if @incourse.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@incourse.errors.count, "error") %> prohibited this incourse from being saved:</h2>
            <ul>
              <% @incourse.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="modal-body">
          <%- if User.where.not(admin: true).reject{ |user|
              Incourse.where(course_id: params[:course_id]).find_by(user_id: user.id)}.count.zero? %>
            <div class="field">
              <%= "No available students." %>
            </div>
          <% else %>
            <div class="field">
              <%= form.label :user_id %>
              <div class="form-group" data-controller='select2'>
                <%= form.select :user_id, User.where.not(admin: true).reject{ |user|
                    Incourse.where(course_id: params[:course_id]).find_by(user_id: user.id)
                    }.collect {|user| ["#{user.Lname}, #{user.Fname}", user.id]}, {include_blank: false, required: true, include_hidden: false}, class: 'form-control content-search' %>
              </div>
                <%= form.hidden_field :course_id, :value => Course.find_by(id: params[:course_id]).id %>
                <div class="modal-footer">
                  <div class="actions">
                    <%= form.submit "Add User to Course" %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>