<p id="notice"><%= notice %></p>

<h1>Incourses</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incourses.each do |incourse| %>
      <tr>
        <td><%= incourse.user_id %></td>
        <td><%= incourse.course_id %></td>
        <td><%= link_to 'Show', incourse %></td>
        <td><%= link_to 'Edit', edit_incourse_path(incourse) %></td>
        <td><%= link_to 'Destroy', incourse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incourse', new_incourse_path %>
